<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
 "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
 "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

	<session-factory>

		<!-- SQL dialect -->
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>

		<!-- Database connection settings -->
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">sesame</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/brigade</property>

		<!-- JDBC connection pool (use the built-in) -->
		<property name="connection.pool_size">5</property>

		<!-- Echo all executed SQL to stdout -->
		<property name="show_sql">true</property>

		<!-- Drop and re-create the database schema on startup -->
<!-- 		<property name="hibernate.hbm2ddl.auto">update</property> -->

		<!-- Entity class -->
		<mapping class="com.dbrigade.Company" />
		<mapping class="com.dbrigade.Email" />
		<mapping class="com.dbrigade.Member" />
		<mapping class="com.dbrigade.Message" />
		<mapping class="com.dbrigade.MessageBoard" />
		<mapping class="com.dbrigade.MessageBoardAccess" />
		<mapping class="com.dbrigade.Rank" />
		
		
	</session-factory>

</hibernate-configuration>